#app
{
    background-color: #D0A9F5;
    background: -webkit-linear-gradient(top, #D0A9F5, #4C0B5F);
    background: -moz-linear-gradient(top, #D0A9F5, #4C0B5F);
    background: -ms-linear-gradient(top, #D0A9F5, #4C0B5F);
    background: linear-gradient(top, #D0A9F5, #4C0B5F);
}
#app>header,
#app>footer
{
    background-color: #4C0B5F;
}